@font-face {
	font-family:iconfont!important;src:url(../font_451728_d77umogzrdfe0zfr.eot);src:url(../font_451728_d77umogzrdfe0zfr.eot?#iefix) format('embedded-opentype'),url(../font_451728_d77umogzrdfe0zfr.woff) format('woff'),url(../font_451728_d77umogzrdfe0zfr.ttf) format('truetype'),url(../font_451728_d77umogzrdfe0zfr.svg#iconfont) format('svg')
}

.aliicon {
	font-family: iconfont!important
}
input{-webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none;}
html{
	width:100%;
	height:100%;
	background: #fff;
	background-attachment:fixed;
	background-size:100% 100%;
}
body:before {
  content: ' ';
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  background-size: cover;
}
body{
	margin:0;
	height:100%;
	font-family:PingFangSC-Light;
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
div{
	cursor:default;
}
hr{
	margin:0;
}
p{
	margin:0;
}
a{
	color:#000;
	text-decoration:none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none;
}
ul{
	list-style:none;
	margin:0;
	padding:0;
}
.in-top{
	position:fixed;
	top:0;
	background:#4d90e4;
	width: 9.6rem;
}
.wrap{
	width:10rem;
	margin:auto;
	overflow:hidden;
}
.wrap .main{
	margin-bottom:3.5rem;
	position:relative;
}
/* 文章顶部广告 */
.main .top-ad{
	line-height:0;
	width:10rem;
	height:1.5625rem;
	position:relative;
	overflow:hidden;
}
.main .top-ad img{
	position:absolute;
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
	min-height:100%;
	max-width:100%;
}
.main .article-main{
	width:10rem;
}
.main .article-main div{
	font-size:16px;
}
/* 文章末尾广告 */
.main .article-bottom-ad{
	height:5rem;
}
.main .article-bottom-ad img{
	min-height:100%;
	max-width:100%;
}
/* 文章底部更多推荐 */
.main .more-article,
.main .comment-box{
	margin-top:0.8rem;
}
.main .more-article .groom,
.main .comment-box .comment{
	font-size:0.45rem;
	display:flex;
	justify-content:flex-start;
	align-items:center;
}
.main .more-article .groom div,
.main .comment-box .comment div{
	position:relative;
	padding-left:0.1rem;
	padding-bottom:0.2rem;
	margin-left:0.2rem;
}
.main .more-article .groom div:after,
.main .comment-box .comment div:after{
	content:'';
	position:absolute;
	height:0.08rem;
	width:120%;
	background:#008de8;
	left:0;
	bottom:0;
}
	/* 热文推荐 */
.main .article-list{
	font-size:0.4rem;
	padding:0 0.3rem;
	padding-top:0.3rem;
}
.main .article-list li{
	min-height:2rem;
	margin-bottom:0.2rem;
	padding:0.2rem 0 0.3rem 0;
	position:relative;
}
.main .article-list li:after{
	content:'';
	position:absolute;
	bottom:-0.2rem;
	left:-0.3rem;
	width:10rem;
	height:0.1rem;
	background:#f3f3f3;
}
.main .article-list li a{
	display:flex;
	justify-content:space-between;
}
.main .article-list li a .article-info{
	display:flex;
	justify-content:space-between;
	flex-direction:column;
}
.main .article-list li a .article-info .article-name{
	max-width:6.5rem;
	overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.main .article-list li a .article-origin{
	font-size:0.35rem;
	color:#656565;
	display:flex;
	justify-content:flex-start;
	align-items:center;
}
.main .article-list li a .article-origin div:nth-child(1){
	margin-right:0.3rem;
}
.main .article-list li a .article-img{
	line-height:0;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.main .article-list li a .article-img img{
	width:2.3rem;
	height:2.3rem;
	border:1px #c3c3c3 solid;
	line-height:2.3rem;
	text-align:center;
}
.main .article-list .display-two a{
	flex-direction:column;
}
.main .article-list .display-two a .article-img{
	margin:0.2rem 0;
}
.main .article-list .display-two a .article-img img{
	width:3rem;
	height:3rem;
	line-height:3rem;
}
	/* 评论列表 */
.main .comment-list{
	padding:0.3rem;
	font-size:0.4rem;
}
.main .comment-list	li{
	display:flex;
	justify-content:space-between;
	height:100%;
	min-height:2rem;
	border-bottom:1px solid #f3f3f3;
	padding-bottom:0.3rem;
	padding-top:0.2rem;
}
.main .comment-list	li .user-img{
	width:1.3rem;
	height:1.3rem;
	border-radius:1.3rem;
	border:1px solid #c3c3c3;
	overflow:hidden;
	margin-top:0.2rem;
	margin-right:0.3rem;
	display:flex;
	justify-content:flex-start;
	align-items:center;
}
.main .comment-list	li .user-img img{
	width:100%;
	height:100%;
	text-align:center;
	line-height:1.3rem;
}
.main .comment-list	li .right{
	flex-grow:1;
	width:7rem;
}
.main .comment-list	li .right .user-info{
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin-bottom:0.15rem;
}
.main .comment-list	li .right .user-info .good{
	display:flex;
	justify-content:space-between;
	align-items:center;
	color:#656565;
}
.main .comment-list	li .right .user-info .good .aliicon{
	font-size:0.5rem;
	margin-right:0.1rem;
}
.main .comment-list	li .right .user-info .user-name{
	color:#426dbf;
}
.main .comment-list	li .right .text{
	margin:0.1rem 0 0.2rem 0;
	overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.main .comment-list	li .right .time{
	color:#656565;
}
.main .comment-box .more-comment{
	color:#008de8;
	text-align:center;
}
.main .comment-box .more-comment a{
	color:#008de8;
	font-size:0.45rem;
}
/* 文章底部悬浮广告 */
.main .bottom-ad-box{
	width:100%;
	line-height:0;
	position:fixed;
	bottom:0;
	left:0;
	z-index:9999;
	display:flex;
	align-items:center;
	justify-content:center;
}
.main .bottom-ad-box .bottom-ad{
	width:10rem;
	height:1.5625rem;
	position:relative;
	overflow:hidden;
}
.main .bottom-ad-box .bottom-ad img{
	position:absolute;
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
	min-height:100%;
	max-width:100%;
}
/* 文章评论分享按钮 */
.main .article-btn-group{
	position:fixed;
	bottom:2rem;
	right:0.6rem;
}
.main .article-btn-group .btn{
	width:1.3625rem;
	height:1.3625rem;
	border-radius:1.2625rem;
	color:#fff;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	font-size:0.4rem;
	background:#008de8;
}
.main .article-btn-group .share{
	background:#fff;
	color:#008de8;
	border:0.1rem solid #008de8;
	box-sizing:border-box;
	margin-top:0.2rem;
}
/* 分享的遮罩层 */
.shade-box-all{
	display:none;
}
.layui-m-layermain .layui-m-layersection{
	display:block!important;
}
.layui-layer-shade{
	opacity:0.8!important;
}
.layui-m-layer-shade-img{
	background-color:rgba(255,255,255,0)!important;
	box-shadow:none!important;
	top:0!important;
}
/* 评论界面 */
.comment-input{
	display:none;
}
.comment-input-box{
	width:8rem;
	padding:0.4rem 0.2rem;
	text-align:center;
	border-radius:0.15rem;
}
.comment-input-box textarea{
	width:7rem;
	height:5rem;
	margin:0 auto;
	font-size:0.4rem;
	resize: none;
}
.comment-input-box .comment-btn{
	display:flex;
	justify-content:space-around;
	align-items:cnter;
}
.comment-input-box .comment-btn div{
	display:flex;
	justify-content:center;
	align-items:center;
	background:#008de8;
	color:#fff;
	padding:0.1rem 0.4rem;
	border-radius:0.15rem;
	font-size:0.4rem;
}








