html{
	width:100%;
	height:100%;
	background: linear-gradient(#4d90e4, #b4bcdf);
	background: -webkit-linear-gradient(#4d90e4, #b4bcdf); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#4d90e4, #b4bcdf); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#4d90e4, #b4bcdf); /* Firefox 3.6 - 15 */
	background-attachment:fixed;
	background-size:100% 100%;
}
body:before {
  content: ' ';
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#4d90e4, #b4bcdf);
	background: -webkit-linear-gradient(#4d90e4, #b4bcdf); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#4d90e4, #b4bcdf); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#4d90e4, #b4bcdf); /* Firefox 3.6 - 15 */
  background-size: cover;
}
body{
	margin:0;
	height:100%;
	font-family:PingFangSC-Light;
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
div{
	cursor:default;
}
hr{
	margin:0;
}
p{
	margin:0;
}
a{
	color:#000;
	text-decoration:none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none;
}
ul{
	list-style:none;
	margin:0;
	padding:0;
}
.in-top{
	position:fixed;
	top:0;
	background:#4d90e4;
	width: 9.6rem;
	min-width:345px;
}
.wrap{
	width:10rem;
	min-width:360px;
	margin:auto;
	overflow:hidden;
}
.wrap .main{
	margin-bottom:2rem;
}
.wrap .main .money-card{
	margin:0 auto;
	margin-top:0.3rem;
	padding:0.2rem 0;
	width:9.6rem;
	min-width:345px;
	height:auto;
	border-radius:0.15rem;
	background:#fff;
}
.wrap .main .money-card .money{
	margin:0 0.2rem;
	padding:0.2rem 0 0.3rem 0;
	display:flex;
	justify-content:space-between;
	align-items:center;
	background:#f77c7c;
	border-radius:0.15rem;
}
.wrap .main .money-card .money li{
	width:3.3rem;
	min-width:33.33%;
	text-align:center;
}
.wrap .main .money-card .money li:nth-child(2){
	border-left:0.01rem solid #fff;
	border-right:0.01rem solid #fff;
}
.wrap .main .money-card .money li i{
	width:1.2rem;
	height:1.2rem;
	min-width:43px;
	min-height:43px;
	display:block;
	margin:0 auto;
	background-repeat:no-repeat;
	background-size:99%;
	margin-bottom:0.15rem;
}
.wrap .main .money-card .money li:nth-child(1) i{
	background-image:url(../img/ad/1.png);
}
.wrap .main .money-card .money li:nth-child(2) i{
	background-image:url(../img/ad/2.png);
}
.wrap .main .money-card .money li:nth-child(3) i{
	background-image:url(../img/ad/3.png);
}
.wrap .main .money-card .money li p{
	color:#fff;
	font-size:0.48rem;
}
.wrap .main .money-card .money li p:nth-child{
	margin-bottom:0.2rem;
}
.wrap .main .money-card .help{
	margin-top:0.3rem;
	padding:0.2rem 0 0.1rem 0;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.wrap .main .money-card .help li{
	min-width:25%;
	text-align:center;
}
.wrap .main .money-card .help li i{
	width:1.6rem;
	height:1.6rem;
	min-height:57px;
	min-width:57px;
	display:block;
	margin:0 auto;
	background-repeat:no-repeat;
	border-radius:1.6rem;
	background:#f77c7c;
	background-size:65%;
	margin-bottom:0.2rem;
}
.wrap .main .money-card .help li:nth-child(1) i{
	background-image:url(../img/ad/4.png);
	background-repeat:no-repeat;
	background-position:.28rem 0.35rem;
}
.wrap .main .money-card .help li:nth-child(2) i{
	background-image:url(../img/ad/5.png);
	background-repeat:no-repeat;
	background-position:.28rem 0.25rem;
}
.wrap .main .money-card .help li:nth-child(3) i{
	background-image:url(../img/ad/6.png);
	background-repeat:no-repeat;
	background-position:.31rem 0.32rem;
}
.wrap .main .money-card .help li:nth-child(4) i{
	background-image:url(../img/ad/7.png);
	background-repeat:no-repeat;
	background-position:.29rem 0.3rem;
}
.wrap .main .money-card .help li p{
	font-size:0.4rem;
	color:#656565;
}
.wrap .main .news-list{
	width:9.6rem;
	min-width:345px;
	margin:0 auto;
	margin-top:0.6rem;
}
.wrap .main .layui-tab-title{
	border:none;
}
.wrap .main .news-list .news-list-nav li{
	width:1.5rem;
	min-width:54px;
	color:#fff;
	font-size:0.42rem;
	display:block;
	text-align:center;
	padding:0.25rem 0;
}
.wrap .main .news-list .news-list-nav .active{
	background:rgba(255,255,255,0.2);
	/* box-shadow:0 0.35rem 0.8rem -0.5rem #fff inset; */
}
.wrap .main .layui-tab-brief>.layui-tab-title .layui-this{
	color:#fff;
	background:rgba(255,255,255,0.2);
}
.wrap .main .news-list .news-article{
	padding:0.25rem 0;
	width:9.6rem;
	min-width:345px;
	margin:0 auto;
	background:rgba(255,255,255,0.2);
}
.wrap .main .news-list .news-article ul li{
	display:flex;
	max-height:3rem;
	min-height:108px;
	background:rgba(255,255,255,0.2);
	border:0.02rem solid #fff;
	border-radius:0.15rem;
	margin:0 0.25rem;
	margin-bottom:0.25rem;
}
.wrap .main .news-list .news-article ul li .left{
	width:70%;
	margin-top:0.2rem;
	margin-left:0.15rem;
	margin-right:0.3rem;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}
.wrap .main .news-list .news-article ul li .left p{
	color:#464a5b;
	font-size:0.4rem;
	max-height:80%;
}
.wrap .main .news-list .news-article ul li .left div{
	margin-bottom:0.3rem;
	display:flex;
}
.wrap .main .news-list .news-article ul li .left div span{
	color:#464a5b;
	font-size:0.3rem;
	margin-top:0.1rem;
}
.wrap .main .news-list .news-article ul li .left div .btn{
	border-radius:0.2rem;
	padding:0.1rem 0.2rem;
	background:#eff3fb;
	color:#656565;
	font-size:0.35rem;
	margin:0;
	margin-right:0.3rem;
}
.wrap .main .news-list .news-article ul li .right{
	width:30%;
	padding:0.15rem;
}
.wrap .main .news-list .news-article ul li .right img{
	width:100%;
}

/* 个人中心 */
.user-info{
	padding-top:0.3rem;
}
.user-info .user-img{
	width:3rem;
	height:3rem;
	min-width:108px;
	min-height:108px;
	margin:auto;
	border-radius:3rem;
	overflow:hidden;
}
.user-info .user-img img{
	width:100%;
	height:100%;
}
.user-info .user-name{
	margin-top:0.2rem;
	color:#fff;
	font-size:0.45rem;
	text-align:center;
}
.user-vip{
	margin-top:0.3rem;
	display:flex;
	justify-content:center;
	align-items:center;
}
.user-vip a div{
	background:rgba(255,255,255,0.2);
	color:#fff;
	font-size:0.4rem;
	padding:0.1rem 0.3rem;
	margin:0 0.25rem;
}
.role{
	margin:0 0.32rem;
	margin-top:0.3rem;
	margin-bottom:0.5rem;
	display:flex;
	justify-content:center;
	align-items:center;
}
.role div{
	background:rgba(255,255,255,0.2);
	width:50%;
	height:3rem;
	min-height:108px;
	font-size:0.4rem;
	padding:0.1rem 0.3rem;
	border:0.02rem solid #fff;
	border-radius:0.15rem;
}
.role .ad{
	margin-right:0.25rem;
}
.role .agent{
	margin-left:0.25rem;
}
.role div a{
	text-align:center;
	color:#fff;
	font-size:0.4rem;
}
.role div i{
	margin:auto;
	margin-top:0.3rem;
	margin-bottom:0.4rem;
}
.role .ad i{
	display:block;
	width:1.4169rem;
	height:1.4169rem;
	background-image:url(../img/user/1.png);
	background-size:100%;
}
.role .agent i{
	display:block;
	width:1.8rem;
	height:1.4093rem;
	background-image:url(../img/user/2.png);
	background-size:100%;
	background-repeat:no-repeat;
}
.user-menu{
	width:9rem;
	min-width:324px;
	margin:auto;
	margin-top:0.2rem;
	background:rgba(255,255,255,0.2);
	padding:0.2rem 0.2rem;
	border-radius:0.2rem;
}
.user-menu ul li{
	background:rgba(255,255,255,0.2);
	border-radius:0.2rem;
	margin-bottom:0.1rem;
}
.user-menu ul li a{
	color:#fff;
	font-size:0.4rem;
	display:flex;
	align-items:center;
	height:1.2rem;
	min-height:43px;
}
.user-menu ul li a .icon{
	width:0.7rem;
	height:0.7rem;
	margin:0 0.2rem;
}
.user-menu ul li a span{
	font-size:0.38rem;
}
.user-menu ul li a .little-icon{
	width:0.5rem;
	height:0.433333rem;
}
.user-menu ul li a .little-icon img{
	height:100%;
}
.user-menu ul li a .menu-title{
	flex-grow:1;
}

/* 自媒体页面 */
.media-banner .swiper-slide img{
	height:100%;
}
.media-part{
	width:9.2rem;
	min-width:331px;
	margin:auto;
	border-radius:0.2rem;
	background:rgba(255,255,255,.2);
	padding:0.05rem 0.2rem;
	margin-bottom:0.2rem;
}
.part-header{
	display:flex;
	justify-content:center;
	align-items:center;
	margin-bottom:0.1rem;
}
.part-header .step{
	color:rgba(255,255,255,.5);
	font-size:1.2rem;
	line-height:1.2rem;
	font-family:Hiragino Sans GB;
	transform:scale(0.8,1);
}
.part-header .part-title{
	flex-grow:1;
	color:#fff;
	font-size:0.49rem;
	letter-spacing:0.05rem;
}
.part-header .part-title p:nth-child(2){
	color:rgba(255,255,255,.5);
	font-size:0.38rem;
	letter-spacing:0;
}
.part-header .help-icon a img{
	width:0.6rem;
	height:0.6rem;
}
.part-1 .url{
	position:relative;
}
.part-1 .url-input{
	width:97%;
	height:2rem;
	background:rgba(255,255,255,.2);
	color:rgba(255,255,255,.5);
	border-radius:0.2rem;
	border:0.02rem solid #fff;
	padding:0.1rem;
	outline:none;
	font-size:0.326rem;
	resize:none
}
.part-1 .url span{
	position:absolute;
	font-size:0.3rem;
	bottom:0.35rem;
	right:0.15rem;
	border-radius:0.15rem;
	background:rgba(255,255,255,.2);
	padding:0.1rem 0.1rem;
}
.part-1 .url span a{
	color:#fff;
}
.part-1 .btn-group{
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin-bottom:0.2rem;
}
.part-1 .btn-group .btn{
	background:#e4eefb;
	color:#464a5b;
	font-size:0.45rem;
	width:45%;
	border-radius:0.2rem;
	text-align:center;
	padding:0.2rem 0;
}
.buy-vip{
	height:0.8rem;
	min-height:29px;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:0.36rem;
	color:rgba(255,255,255,.5);
}
.buy-vip div{
	width:0.4775rem;
	height:0.370628rem;
	margin-right:0.05rem;
}
.buy-vip div a img{
	width:0.4775rem;
}
.buy-vip span:nth-child(2){
	flex-grow:1;
}
.buy-vip span a{
	background:#f96c6c;
	border-radius:0.1rem;
	padding:0.1rem 0.1rem;
}
.part-2 .ads{
	display:flex;
	justify-content:center;
	align-items:center;
	margin-bottom:0.2rem;
}
.part-2 .ads li {
	width:50%;
	text-align:center;
	background:rgba(255,255,255,.2);
	padding:0.3rem 0;
	border-radius:0.2rem;
	border:0.02rem solid #fff;
}
.part-2 .ads li i{
	margin:auto;
}
.part-2 .ads li:nth-child(1){
	margin-right:0.3rem;
}
.part-2 .ads li div{
	width:2rem;
	height:2rem;
	margin:auto;
}
.part-2 .ads li a p{
	color:#fff;
	font-size:0.45rem;
}
.part-3 .hot-article{
	
}
.part-3 .hot-article ul li{
	background:rgba(255,255,255,.2);
	border-radius:0.2rem;
	border:0.02rem solid #fff;
	display:flex;
	justify-content:center;
	align-items:center;
	color:#464a5b;
	padding:0.2rem 0.2rem;
	margin-bottom:0.15rem;
}
.part-3 .hot-article ul li .user-img{
	width:1.8rem;
	height:1.8rem;
	border-radius:1.8rem;
	border:0.08rem solid #fff;
	overflow:hidden;
	margin-right:0.3rem;
}
.part-3 .hot-article ul li .article-title{
	font-size:0.4rem;
	flex-grow:1;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	height:1.8rem;
	max-width:52%;
	margin-right:0.2rem;
}
.part-3 .hot-article ul li .article-title p:nth-child(1){
	max-height:2.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.part-3 .hot-article ul li .article-title span{
	font-size:0.36rem;
}
.part-3 .hot-article ul li .btn{
	background:#f1f4fb;
	font-size:0.4rem;
	border-radius:0.15rem;
	color:#464a5b;
	padding:0.1rem 0.2rem;
	align-self:flex-end;
}
/* 底部导航 */
.new-footer{
	position:fixed;
	bottom:0;
	width:10rem;
	background:#fff;
	z-index:999;
	height:1.5rem;
	min-height:54px;
}
.new-footer ul{
	display:flex;
	justify-content:center;
	align-items:center;
	color:#fff;
	font-size:0.4rem;
}
.new-footer ul li{
	width:33.3333%;
	text-align:center;
	margin-top:0.1rem;
	margin-bottom:0.05rem;
}
.new-footer ul li:nth-child(2){
	
}
.new-footer ul li i{
	width:0.8rem;
	height:0.8rem;
	display:block;
	margin:auto;
}
.new-footer ul li:nth-child(1) i{
	background:url(../img/user/8.png);
	background-repeat:no-repeat;
	background-size:100%;
}
.new-footer ul li:nth-child(3) i{
	background:url(../img/user/9.png);
	background-repeat:no-repeat;
	background-size:100%;
}
.new-footer ul li a p{
	color:#464a5b;
}
.new-footer ul li:nth-child(2){
	position:relative;
}
.new-footer ul li:nth-child(2) a{
	background:#fff;
	border-radius:2rem;
	width:60%;
	height:4rem;
	min-height:72px;
	position:absolute;
	top:-1.25rem;
	left:20%;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction: column;
}
.new-footer ul li:nth-child(2) a p{
	color:#fff;
}
.new-footer ul li:nth-child(2) a div{
	background:#2789e0;
	width:1.5rem;
	height:1.5rem;
	border-radius:1rem;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction: column;
	position:absolute;
	top:0.3rem;
	left:0.25rem;
}
.new-footer ul li:nth-child(2) a .index-footer-btn{
	background:#f77c7c;
}







